<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<header role="banner">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="/assets/img/bindMind.png" width="45" height="45" class="d-inline-block align-top"/>

      <a class="navbar-brand " href="#/homepage">BindMind
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav pl-md-5 ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#/login">log-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/register">sign-up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="slider-item" style="background-image: url('./assets/img/hero_1.jpg');">
</div>

<div class="section">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-lg-4 order-lg-2">
        <div class="scaling-image h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('./assets/img/img_1_big.jpg');"></div></div></div>
      </div>

      <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

        <div class="feature-1 d-md-flex">
          <div class="align-self-center">
            <span class="flaticon-chakra display-4 text-primary"></span>
            <h3>Chakra </h3>
            <p>The entire universe is made of energy, and your body is no exception. The 7 chakras play an important role in the balance and health of our bodies. Long before modern technology and science, ancient cultures knew that all living things carried a life force with them. They called the centers of energy that moved inside of us the 7 chakras.</p>
          </div>
        </div>

        <div class="feature-1 d-md-flex">
          <div class="align-self-center">
            <span class="flaticon-lotus display-4 text-primary"></span>
            <h3>Yoga</h3>
            <p>Yoga is an internal journey of self-discovery, an opportunity to connect with your true self on a deeper level. At its core, it is about developing a deep reverence and pure love for your body temple as it houses your conscious spirit. In this way yoga is a beautiful practice for those who suffer from low self-esteem, anxiety and depression as it slowly and lovingly allows a holistic way to heal these emotions from the inside out.</p>
          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

        <div class="feature-1 d-md-flex">
          <div class="align-self-center">
            <span class="flaticon-chakra-1 display-4 text-primary"></span>
            <h3>Mindful breathing</h3>
            <p>The most basic way to do mindful breathing is simply to focus your attention on your breath, inhale and exhale. You can do this while standing, but ideally you’ll be sitting or even lying in a comfortable position. Your eyes may be open or closed, but you may find it easier to maintain your focus if you close your eyes. It can help to set aside a designated time for this exercise, but it can also help to practice it when you’re feeling particularly stressed or anxious.</p>
          </div>
        </div>

        <div class="feature-1 d-md-flex">
          <div class="align-self-center">
            <span class="flaticon-yoga display-4 text-primary"></span>
            <h3>Meditation</h3>
            <p>Meditation is a practice where an individual uses a technique – such as mindfulness, or focusing the mind on a particular object, thought or activity – to train attention and awareness, and achieve a mentally clear and emotionally calm and stable state.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</body>
</html>
