<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#pablo">
            <img class="img" src="../assets/img/task-icon.png">
          </a>
        </div>
        <div class="content">
          <h6 class="category text-gray">Assignment Summary</h6>
          <h4 class="card-title">{{currentAssignment.name}}</h4>
          <p class="card-content">
            {{currentAssignment.description}}
          </p>
<!--          <h4 class="card-title">Assignment Materials:-->
<!--            <a href="http://localhost:8080/assignments/materials/file?fileName={{assignment.file}}" target="_blank">{{assignmentSource}}</a>-->
<!--          </h4>-->

          <form>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" #assignmentFile>
                <button class="btn btn-sm btn-info" (click)="uploadAssignmentFile()">Upload Assignment</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>

        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-success">
            <tr>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Marks</th>
              <th>Provided Feedback</th>
              <th>Download</th>
              <th>Grade</th>
              <th>Feedback</th>
            </tr>
            </thead>
            <tbody>
            <td>
              <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-lg" data-original-title="Edit Task" data-toggle="modal"
                      data-target="#gradeModal" >
                <i class="material-icons">grade</i>
              </button>
            </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
