<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger"  style = "background: #334d5c">
          <h4 class="card-title ">Enrolled students</h4>
          <p class="card-category">{{currentInstructor.name}}</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-success">
            <th>Student name</th>
            </thead>
            <tbody>
            <tr *ngFor="let student of studentList">
              <td>{{student.name}}</td>
              <td class="td-actions left-right">
                <button type="button" rel="tooltip" title="" class="btn btn-success btn-simple btn-lg" (click)="viewStudent(student)">
                  <i class="material-icons">launch</i>  View student
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger"  style = "background: #ce8282">
          <h4 class="card-title ">Course modules</h4>
          <p class="card-category">{{currentInstructor.name}}</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-success">
            <th>Module Id</th>
            <th>Module title</th>
            </thead>
            <tbody>
            <tr *ngFor="let module of moduleList">
              <td>{{module.id}}</td>
              <td>{{module.title}}</td>
              <td class="td-actions left-right">
                <button type="button" rel="tooltip" title="" class="btn btn-success btn-simple btn-lg" data-original-title="Edit Task" [routerLink]="['/home/instructor-course-details/',module.id]">
                  <i class="material-icons">launch</i>  View
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
