<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger" style = "background: #334d5c;">
            <h4 class="card-title "><b>Write a discussion..</b><a routerLink="../discussion-home" routerLinkActive="active"><button  style="float: right;">x</button></a></h4>
          </div>
          <div class="card-body">




          </div>
        </div>
      </div>
    </div>
  </div>
</div>



